<div class="container">
  <h1>Actualizar informacion de {{model.name}}</h1>
  {{teacher-subscriber-form model=model name=model.name last_name=model.last_name phone=model.phone mail=model.mail onSave=(action 'updateInfo' )}}
</div>
